.conteiner {
    padding-block: 25px;
}

.conteiner_2 {
    display: flex;
    padding: 20px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    border-radius: 9px;
    background: #FFF;
}

.sum {
    display: flex;
    padding: 20px 10px;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid #D2D6E8;
    color: #1E1E1E;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.88px;
}

.btn_conteiner {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 22px;
}

.btn {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;
    color: #FFF;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn_go {
    padding: 12px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border: 2px solid #1E1E1E;
    background: transparent;
    color: #1E1E1E;
}