.link {
    display: flex;
    width: 146px;
    height: 133px;
    padding: 8px 0px 15px 0px;
    flex-direction: column;
    align-items: center;
    gap: 7px;

    @media screen and (min-width:1280px) {
        width: 220px;
        height: 201px;
        padding: 8px 0px 15px 0px;
        border-radius: 11px;
        border: 1px solid #ECEEF2;
        background: #FFF;

    }
}

.list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px 0;
    padding: 0;
    border-bottom: 1px solid red;
}

.item {
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;

    &:hover {
        background-color: rgb(215, 141, 141);
        border-radius: 20px;
    }
}

.item .model {
    // margin-bottom: 0;
    color: #1E1E1E;
    text-align: center;
    font-family: Exo 2;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.img {
    display: flex;
    width: 98px;
    height: 76px;
    padding: 2.923px 0px 2.361px 0px;
    justify-content: center;
    align-items: center;
    object-fit: contain;

    @media screen and (min-width:1280px) {
        width: 173px;
        height: 130px;
        padding: 5px 0px 4.038px 0px;
    }

}