.orderList {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px; */
  max-width: calc(100vw - 105px);
  padding: 0;
  list-style: none;

  @media screen and (min-width: 1280px) {

    margin-left: 350px;
    margin-right: 50px;
  }
}

.orderItem {
  display: flex;
  // width: max-content;
  border: 1px solid white;
  justify-content: space-between;
}

.orderItemP {
  padding: 0 10px;
  margin: 0;

  @media screen and (min-width:1280px) {
    width: 200px;

  }
}

.partsName {
  padding: 0 10px;
  margin: 0;

  @media screen and (min-width:1280px) {
    width: 400px;

  }
}

.partsPrice {
  padding: 0 10px;
  // width: 70px;
  margin: 0;
}

.quantity {
  width: 20px;
  background-color: transparent;
  border: none;
}

.false {
  color: tomato;
}

.true {
  color: green;
}

.order_list {
  list-style: none;
}

.order_card {
  border: 2px solid green;
  border-radius: 5px;
  background-color: aquamarine;
  list-style: none;
  width: fit-content;
  margin: auto;
  padding: 0;
}

.item_card {
  display: flex;
  border: 2px solid white;
}

.articul {
  width: 200px;
  padding: 5px 10px;
  margin: 0;
}

.part_name {
  width: 400px;
  padding: 5px 10px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: 0;
}

.price {
  width: 100px;
  padding: 5px 10px;
  margin: 0;
  text-align: center;
}

.ordered {
  width: 90px;
  padding: 5px 10px;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: 0;
  text-align: center;
}

.input {
  display: flex;
  margin-bottom: 10px;
  padding: 0 10px;
  justify-content: space-between;

  @media screen and (min-width:1280px) {
    width: 450px;

  }
}

.owner_title {
  margin: 10px 0;
}