.btn {
    // width: 403px;
    display: flex;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 6px;
    border: 1px solid #1E1E1E;
    background: #1E1E1E;

    // height: 47px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition: all 300ms ease-in;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        padding: 12px 20px;

    }

    @media screen and (min-width: 1280px) {
        height: 47px;
        border-radius: 8px;
        padding: 12px 20px;
        transition: all 300ms ease-in;
        border-radius: 6px;
        border: 1px solid #1E1E1E;
        color: #FFF;
        font-size: 19px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        background: #1E1E1E;
        cursor: pointer;

    }


    &:disabled {
        cursor: auto;
        background-color: #d3d3d3;
    }

    &:hover,
    &:focus {
        border: 1px solid #444;

        background-color: #444;
    }

}