.conteiner {
    width: 100vw;
    padding: 20px 10px;
    background-color: #1E1E1E;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    // gap: 34px;

    @media screen and (min-width:768px) {
        flex-direction: column;
        padding: 30px;
    }

    @media screen and (min-width:1280px) {
        padding: 40px 115px;

    }
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.brand {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media screen and (min-width:768px) {
        flex-direction: row;
        gap: 20px;
    }
}

.link {
    color: #FFF;

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media screen and (min-width:768px) {

        display: block;
        transition: all 0.5s ease-in-out;

        &:active {
            color: orange;
            // text-decoration: none;
        }

        &:hover {
            color: red;
        }
    }
}

.logo {
    width: 32px;
    height: 32px;
}

.text {
    grid-column-start: 1;
    color: #FFF;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}