.table {
    margin-top: 20px;
    width: 100%;
    table-layout: auto;
}

.table_head {
    border: 1px solid black;
    background-color: aquamarine;

    &:nth-child(3) {
        width: 80px;
    }

    &:nth-child(5) {
        display: none;
    }
}

.table_head_add {
    border: 1px solid black;
    background-color: aquamarine;

    &:nth-child(3) {
        width: 80px;
    }

    &:nth-child(5) {
        display: block;
    }
}