.title {
    color: #1E1E1E;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}

.img {
    transform: rotate(45deg);

    @media screen and (min-width:768px) {
        width: 42px;
        height: 42px;
    }
}

.part_list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width:768px) {
        gap: 109px;
    }
}