.title {
    @media screen and (min-width:1280px) {
        padding-inline: 100px;

    }

    // color: #1E1E1E;
    // text-align: center;
    // font-size: 24px;
    // font-style: normal;
    // font-weight: 600;
    // line-height: normal;
    // margin-bottom: 30px;
}

.img {
    // clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    // transform: rotate(45deg);

    @media screen and (min-width:768px) {
        width: 42px;
        height: 42px;
    }
}

.part_list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width:768px) {
        gap: 109px;
    }
}

.first_arrow::before {
    content: "";
    position: absolute;
    border: 1px dashed black;
    // left: 50px;
    // top: -60px;

    @media screen and (min-width:1280px) {
        width: calc(100vw - 790px);
        left: 43px;
        top: 150px;
    }

}

.first_arrow::after {
    content: "";
    position: absolute;
    border: 1px dashed black;

    @media screen and (min-width:1280px) {
        height: 171px;
        left: calc(100vw - 744px);
        top: 350px;
    }

}

.arrow::before {
    content: "";
    position: absolute;
    height: 40px;
    border: 1px dashed black;
    display: inline-flex;
    border-bottom: none;
    left: 50px;
    top: -47px;

    @media screen and (min-width:1280px) {
        height: 90px;
        left: 43px;
        top: -93px;
    }

}

.next_arrow::before {
    left: 50px;
    top: -37px;

    @media screen and (min-width:1280px) {
        width: 43px;
        height: 0;
        left: calc(100vw - 790px);
        top: 63px;
        border-bottom: 1px dashed black;
    }
}

.arrow::after {
    content: "";
    position: absolute;
    display: inline-flex;
    border: 10px solid transparent;
    border-top: 10px solid black;
    border-bottom: none;
    left: 42px;
    top: -6px;

    @media screen and (min-width:1280px) {
        left: 35px;
        top: -5px;
    }

}

.next_arrow::after {
    left: 42px;
    top: 6px;

    @media screen and (min-width:1280px) {
        border-right: 10px solid black;
        border-left: none;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        left: calc(100vw - 800px);
        top: 54px;
    }
}