.carList {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 1200px) {
        padding-block: 50px;
        gap: 38px;
        // padding: 10px 10px 10px 0;
        /* position: fixed; */
        /* z-Index: 1; */
    }
}

.gallery {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;

    @media screen and (min-width: 768px) {
        display: flex;
        width: 100%;
        padding: 30px;
        justify-content: center;
        gap: 21px 25px;
        flex-wrap: wrap;
    }

    @media screen and (min-width:1280px) {
        display: grid;
        // max-width: calc(100vw - 48px);
        grid-template-columns: 30vw 30vw;
        grid-gap: 1rem;
        /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
        // grid-gap: 20px;
        padding: 0;
        list-style: none;
        // margin-right: 50px;

    }
}