.carList {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        padding-block: 50px;
        // gap: 38px;
    }
}