.conteiner {
    display: flex;
    align-items: center;
    gap: 13px;
    text-decoration: none;
}

.header_text {
    color: #201F20;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer_text {
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}