.conteiner {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 30px;

    @media screen and (min-width:1280px) {

        gap: 180px;
        padding-top: 0;
    }
}

// .slider {
//     height: 900px;
// }