.slick-initialized .slick-slide.slick-active {
    display: flex;
}

.title {
    color: #1E1E1E;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 30px;
}