.input {
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
    background-color: transparent;
    font-family: Exo 2;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;

    &:focus-visible {
        outline: none;
    }

    &::placeholder {
        color: #6c6c6c;
        opacity: 0.5;
    }
}

.label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #1E1E1E;
    font-family: Exo 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 0.4px;
    background-color: white;
    margin-bottom: -3px;
}

.error {
    font-size: 12px;
    font-weight: 500;
    color: red;
    height: 15px;
    line-height: 1.2;
    align-self: flex-end;
}