.conteiner {
    display: flex;
    gap: 25px;
    align-items: center;
    padding-left: 10px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58.11px;
    height: 58.11px;
    transform: rotate(-45deg);
    flex-shrink: 0;
    border-radius: 4px;
    background: #1E1E1E;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}