.conteiner {
    display: flex;
    gap: 25px;
    align-items: center;
    padding-left: 10px;

    @media screen and (min-width:768px) {
        gap: 50px;
        padding-inline: 65px 45px;

        &:nth-child(2n) {
            flex-direction: row-reverse;
        }
    }
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58.11px;
    height: 58.11px;
    transform: rotate(-45deg);
    flex-shrink: 0;
    border-radius: 4px;
    background: #1E1E1E;

    @media screen and (min-width:768px) {
        width: 90px;
        height: 90px;
    }
}

.text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.title {
    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @media screen and (min-width:768px) {
        font-size: 30px;
    }
}

.description {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (min-width:768px) {
        font-size: 24px;
    }
}