.conteiner {
  margin-left: 350px;
  margin-right: 30px;
}

.title {
  padding-top: 20px;
  text-align: center;
}

.list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0;
  padding: 0;
  border-bottom: 1px solid red;
}

.item {
  text-align: center;
}

.item:hover {
  background-color: rgb(215, 141, 141);
  border-radius: 20px;
}

.mod {
  margin-bottom: 0;
}

.img {
  width: 110px;

  @media screen and (min-width: 768px) {
    width: 200px;
  }
}

.brand {
  text-align: center;
}