.conteiner {
  padding-top: 50px;

  @media screen and (max-width: 485px) {
    width: calc(100vw - 120px);
  }

  @media screen and (min-width: 768px) {
    height: 100vh;
    margin-left: 350px;
  }

  /* background-image: linear-gradient(rgb(231 219 219 / 83%), rgb(165 194 143 / 73%)), url("/350.webp"); */
  /* filter: blur(8px); */
}

.partCard {
  display: flex;
  align-items: center;

  @media screen and (max-width: 485px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {

    justify-content: space-around;
  }
}

.description {
  text-align: center;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #caf1cf;
  /* border-top: 1px solid black; */
  /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75) */
  box-shadow: -8px 13px 6px 0px rgb(75 8 8 / 36%);

  @media screen and (min-width: 768px) {
    padding: 20px 100px;

  }
}

.text {
  font-family: "Kaushan Script", cursive;
  border-bottom: 2px solid blue;
}

.companyName {
  font-size: large;
  color: blueviolet;
}

.card {
  background-color: #d9cdcd78;
  padding: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.img {
  border-radius: 20px;
  border: 3px solid red;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:hover {
    border: 3px solid green;
  }

}

.btn {
  display: block;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(27, 54, 98);
  color: red;
  transition: all 0.5s ease-in-out;
  width: 150px;

  &:hover {
    background-color: rgb(37, 129, 36);
    color: yellow;
  }

  &:disabled {
    background-color: grey;
    color: rgb(215, 214, 214);
  }

}