    .orderList {
        /* display: grid;
        max-width: calc(100vw - 48px);
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-gap: 20px; */
        padding: 0;
        list-style: none;
        margin-left: 350px;
        margin-right: 50px;
    }

    .orderItem {
        display: flex;
        width: 900px;
    }

    .orderItemP {
        padding: 0 10px;
        /* width: 400px; */
        margin: 0;
    }

    .partsName {
                padding: 0 10px;
        width: 400px;
                margin: 0;
    }

    .partsPrice {
                        padding: 0 10px;
                            width: 70px;
                            margin: 0;
    }

    .quantity {
        width: 40px;
    }