.menu {
    // display: none;

    @media screen and (min-width:768px) {

        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.link {
    margin: 0;
    color: black;
    text-decoration: none;
    font-size: 30px;

    &.active {
        color: orange;
        text-decoration: none;
    }
}

.user_name {
    margin: 0;
    font-size: large;

    @media screen and (max-width:768px) {
        width: fit-content;
        margin-left: 10px;
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
    }
}

.cart {
    display: block;
}

@media screen and (max-width: 768px) {

    .avatar,
    .welcome,
    button.btn {
        display: none;
    }
}