.brand_list {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.conteiner {
    display: flex;
    width: 274px;
    height: 100%;
    padding: 37px 15px 25px 15px;
    flex-direction: column;
    border-radius: 5px;
    background: #FFF;
    gap: 20px;
    flex-shrink: 0;
}