/* @import "bootstrap/dist/css/bootstrap.min.css"; */

body.main {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #fff;
  /* background-image: url(/bg.jpg); */
  background-size: cover;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slick-initialized.center .slick-slide {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* justify-content: space-between; */
  /* height: 280px; */

  @media screen and (min-width: 1280px) {
    height: 450px;
  }
}

.slick-initialized.center .slick-slide > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.slick-list .slick-track {
  height: 350px;
}

.say .slick-list .slick-track {
  height: 440px;
}

.center .slick-dots li button::before,
.say .slick-dots li button::before {
  content: "";
  background-image: url(/dot.svg);
  background-repeat: no-repeat;
  background-size: contain;
  /* background-color: red; */
  font-size: 0;
  line-height: 0;
  display: block;
  width: 19px;
  height: 14px;
  padding: 5px;
  cursor: pointer;
  border: 0;
  outline: none;
}

.center .slick-dots li.slick-active button::before,
.say .slick-dots li.slick-active button::before {
  /* content: ""; */
  background-image: url(/dot_active.svg);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
